<%- include('../includes/head.ejs') %>
    <!-- Main -->
    <div id="main">
        <div class="inner">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="page-header clearfix">
                            <h2 class="pull-left">Product Details</h2>
                            <a href="admin/add-product" class="btn btn-success pull-right">Add New Product</a>
                        </div>

                        <% if (db_rows_array.length >0){ %>
                            <table class='table table-bordered table-striped'>
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Title</th>
                                        <th>Author Name</th>
                                        <th>Price</th>
                                        <th>Description</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% for(var i=0; i< db_rows_array.length; i++){ %>
                                        <tr>
                                            <td>
                                                <%= db_rows_array[i].id %>
                                            </td>
                                            <td>
                                                <%= db_rows_array[i].title %>
                                            </td>
                                            <td>
                                                <%= db_rows_array[i].author %>
                                            </td>
                                            <td>
                                                <%= db_rows_array[i].price %>
                                            </td>
                                            <td>
                                                <%= db_rows_array[i].description %>
                                            </td>
                                            <td>
                                                <a href='products/<%= db_rows_array[i].id %>' title='View Record' data-toggle='tooltip'>
                                                    <span class='glyphicon glyphicon-eye-open'></span>
                                                </a>
                                                <a href='admin/edit/<%= db_rows_array[i].id %>' title='Update Record' data-toggle='tooltip'>
                                                    <span class='glyphicon glyphicon-pencil'></span>
                                                </a>
                                                <a href='admin/delete/<%=db_rows_array[i].id %>' title='Delete Record' data-toggle='tooltip'>
                                                    <span class='glyphicon glyphicon-trash'></span>
                                                </a>
                                            </td>
                                        </tr>
                                        <% } %>
                                </tbody>
                            </table>

                            <% } else{ %>
                                <p class='lead'><em>No records were found.</em></p>
                                <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Footer -->
    <footer id="footer">
        <div class="inner">
            <section>
                <%- include('../includes/footer.ejs') %>
        </div>
    </footer>

    </div>

    <!-- Scripts -->
    <%- include('../includes/scripts.ejs') %>
        <script type="text/javascript">
            $(document).ready(function() {
                $('[data-toggle="tooltip"]').tooltip();
            });
        </script>

        </body>

        </html>