<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.js"></script>
    <style type="text/css">
        .wrapper {
            width: auto;
            margin: 0;
        }
        
        .page-header h2 {
            margin-top: 0;
        }
    </style>
</head>

<body>
    <div class="wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="page-header clearfix">
                        <h2 class="pull-left">Product Details</h2>
                        <a href="admin/add-product" class="btn btn-success pull-right">Add New Product</a>
                    </div>

                    <% if (prods.length > 0) { %>
                        <table class='table table-bordered table-striped'>
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Title</th>
                                    <th>Author</th>
                                    <th>Price</th>
                                    <th>Description</th>
                                    <th> Imgage URL</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% for (let product of prods) { %>
                                    <tr>
                                        <td>
                                            <%= product._id %>
                                        </td>
                                        <td>
                                            <%= product.title %>
                                        </td>
                                        <td>
                                            <%= product.author %>
                                        </td>
                                        <td>
                                            <%= product.price %>
                                        </td>
                                        <td>
                                            <%= product.description.substring(0,64) %>
                                        </td>
                                        <td>
                                            <%= product.imgUrl.substring(0,64) %>
                                        </td>
                                        <td>
                                            <a href='products/<%= product._id %>' title='View Record' data-toggle='tooltip'>
                                                <span class='glyphicon glyphicon-eye-open'></span>
                                            </a>
                                            <br>
                                            <a href='/admin/edit-product/<%= product._id %>?edit=true' title='Update Record' data-toggle='tooltip'>
                                                <span class='glyphicon glyphicon-pencil'></span>
                                            </a>
                                            <br>
                                            <a href='/admin/delete-product/<%= product._id %>?delete=true' title='Delete Record' data-toggle='tooltip'>
                                                <span class='glyphicon glyphicon-trash'></span>
                                            </a>
                                        </td>
                                    </tr>
                                    <% } %>
                            </tbody>
                        </table>

                        <% } else{ %>
                            <p class='lead'><em>No records were found.</em></p>
                            <% } %>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
